@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header,
.page {
  max-width: 1440px;
  margin: 0 auto;
  font-family: Montserrat;
}

/* Шапка сайта и меню */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.header__logo {
  margin-left: 49px;
}

.menu-model {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-model__item {
  text-decoration: none;
  margin-left: 44px;
  font-weight: 600;
  font-size: 15px;
  color: #000;
  white-space: nowrap;
}

.menu-model__item:first-child {
  margin-left: 88px;
}

.menu-model__item:last-child {
  margin-left: 46px;
}

.menu-model__item_active {
  color: #e51937;
}

.menu-model__item_active::after {
  content: "";
  background: url(../img/line-menu.png) bottom no-repeat;
  display: block;
  width: 60px;
  height: 2px;
  position: relative;
  top: 7px;
}

.side-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
}

.side-menu__item {
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  color: #000;
  margin-left: 30px;
}

.menu-action {
  margin-left: 30px;
  padding-top: 4px;
}

/* 1 этаж */

.preview {
  margin-top: 58px;
  text-align: center;
}

.preview__bg {
  background: url(../img/Tesla-Wordmark-Red.svg) center 0%/100% auto no-repeat,
    url(../img/tesla-bg.png) center 100%/67% auto no-repeat;
  min-height: 595px;
  margin-bottom: 25px;
}

.preview__title {
  font-size: 90px;
  font-weight: 600;
}

.preview__subtitle {
  font-size: 15px;
  font-weight: 500;
  position: relative;
  bottom: 10px;
}

.preview__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 830px;
  margin: auto;
  margin-bottom: 35px;
}

.preview__description {
  display: flex;
  justify-content: space-between;
  max-width: 410px;
  width: 100%;
}

.description {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.specification {
  display: flex;
  flex-direction: column;
}

.specification__value {
  font-weight: 600;
  font-size: 35px;
  margin-left: 14px;
}

.specification__unit {
  font-weight: 600;
  font-size: 20px;
}

.specification__title {
  font-size: 12px;
}

.order {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 350px;
  padding: 0 15px;
  width: 100%;
}

.order__info {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding-left: 10px;
  text-decoration: none;
  min-width: 118px;
}

.order__title {
  color: #000;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

.order__info_red:hover .order__title_red {
  color: #e51937;
}

.order__info_red:hover svg {
  fill: #e51937;
}

.order__btn {
  border: 2px solid #e51937;
  background: #fff;
  color: #e51937;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  width: 160px;
  height: 40px;
}

.order__btn:hover {
  background: #e51937;
  color: #fff;
}

.preview__arrow {
  background: url(../img/vector.svg) no-repeat;
  width: 34px;
  height: 20px;
  margin: auto;
  margin-bottom: 35px;
}

/* 2 этаж */

.info {
  background: url(../img/tesla-cockpit.png) 0% 100%/88.5% auto no-repeat;
  display: flex;
  justify-content: space-between;
  height: 900px;
}

.info__title {
  align-self: flex-start;
  color: #e51937;
  font-size: 70px;
  font-weight: 600;
  margin-top: 63px;
  margin-left: 80px;
}

.content {
  background-color: #e51937;
  display: flex;
  flex-direction: column;
  color: #fff;
  max-width: 440px;
  padding: 0 15px;
}

.content_right {
  text-align: left;
  letter-spacing: 0.1px;
}

.content__title {
  font-size: 30px;
  font-weight: 600;
  margin: 50px 0 10px 36px;
}

.content__text {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  margin: 0 60px 65px 36px;
  width: 316px;
}

.description-info {
  margin: 0 0 30px 20px;
  width: 275px;
  height: 70px;
}

.description-info:nth-child(5) {
  margin: 0 0 166px 22px;
  width: 275px;
  height: 70px;
}

.specification-screen__value {
  padding: 0 0 20px 5px;
}

.specification-wifi {
  padding-left: 20px;
}

.specification-bag {
  padding: 0 0 8px 10px;
}

.description-wrap {
  margin-bottom: 138px;
}

.order_aside-right {
  margin-left: 18px;
  max-width: 380px;
}

.order__info_white {
  min-width: 155px;
}

.order__title_white {
  color: #fff;
}

.order__btn_white {
  border: solid 2px #fff;
  background: #e51937;
  color: #fff;
  margin-left: 10px;
}

.order__info_white:hover svg {
  fill: #fff;
}

.order__info_white:hover path {
  fill: #e51937;
}

.order__btn_white:hover {
  background: #fff;
  color: #e51937;
}

/* 3 этаж */

.security {
  background: url(../img/ModelS.svg) 100% 19%/55% auto no-repeat,
    url(../img/car_frame_group.png) 88.5% 55%/73% auto no-repeat;
  background-blend-mode: hue;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 900px;
  z-index: 1;
}

/* .security__title {
  font-size: 200px;
  font-weight: 600;
  color: #e51937;
  margin-top: 95px;
  opacity: 0.1;
  z-index: -1;
} */

.content_left {
  z-index: -1;
}

.security-rating {
  display: flex;
  flex-direction: column;
  margin: 0 0 85px 42px;
}

.security-rating__title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 29px;
  padding: 0 15px;
}

.security-rating__category {
  display: flex;
  justify-content: space-between;
  max-width: 290px;
  text-transform: uppercase;
}

.security-rating__text {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 16px;
}

.security-rating__text-sub {
  font-size: 10px;
}

.rating {
  margin: 0 0 52px 52px;
  display: flex;
}

.rating__text {
  margin-left: 10px;
  padding: 0 15px;
}

.rating__value {
  font-size: 50px;
  font-weight: 600;
}

.rating__title {
  font-size: 25px;
  font-weight: 600;
  position: relative;
  bottom: 10px;
}

.order_aside-left {
  margin-left: 5px;
  max-width: 380px;
}

footer {
  display: flex;
  justify-content: flex-end;
  margin-right: 18px;
  position: relative;
  bottom: 52px;
}

@media screen and (max-width: 1401px) {
  .header {
    margin: auto;
  }

  .burger {
    margin-right: 21px;
  }

  .preview__bg {
    margin-bottom: 10px;
  }

  .preview__subtitle {
    bottom: 9px;
  }
}

@media screen and (max-width: 1201px) {
  .header {
    margin-bottom: 82px;
  }

  .preview {
    margin-top: auto;
  }

  .preview__bg {
    background: url(../img/Tesla-Wordmark-Red.svg) center 20%/109% auto
        no-repeat,
      url(../img/tesla-bg.png) center 100%/91% auto no-repeat;
    min-height: 745px;
    margin-bottom: 20px;
  }

  .preview__subtitle {
    bottom: 11px;
  }

  .info {
    background: url(../img/tesla-cockpit.png) center 5%/100% auto no-repeat;
    flex-direction: column;
    height: 1230px;
  }

  .info__title {
    align-self: flex-end;
    margin-right: 80px;
  }

  .content {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
  }

  .content__title {
    margin: 60px 50px 10px 36px;
  }

  .text-wrap {
    flex-basis: 50%;
  }

  .description-wrap {
    flex-basis: 45%;
    margin: 50px 0 0 50px;
  }

  .security {
    background: url(../img/ModelS.svg) 50% 7%/80% auto no-repeat,
      url(../img/car_frame_group.png) 50% 16%/95% auto no-repeat;
    flex-direction: column-reverse;
    height: 1230px;
  }

  .security-rating {
    margin: 50px 0 85px 42px;
  }

  .order_aside-right,
  .order_aside-left {
    margin: 0 0 50px 365px;
    max-width: 440px;
  }

  .rating,
  .footer {
    display: none;
  }
}

@media screen and (max-width: 1101px) {
  .header__logo {
    margin-left: 15px;
  }

  .side-menu {
    margin-right: 30px;
  }

  .preview__subtitle {
    bottom: 7px;
  }

  .preview__bg {
    background: url(../img/Tesla-Wordmark-Red.svg) center 20%/109% auto
        no-repeat,
      url(../img/tesla-bg.png) center 110%/91% auto no-repeat;
    min-height: 640px;
    margin-bottom: 20px;
  }

  .info,
  .security {
    height: 1210px;
  }
}

@media screen and (max-width: 1030px) {
  .menu-model {
    display: none;
  }

  .preview__bg {
    background: url(../img/Tesla-Wordmark-Red.svg) center 20%/109% auto
        no-repeat,
      url(../img/tesla-bg.png) center 120%/91% auto no-repeat;
    min-height: 580px;
  }

  .info,
  .security {
    height: 1145px;
  }

  .info__title {
    margin-top: 20px;
  }

  .content__title {
    margin: 60px 0px 10px 15px;
  }

  .content__text {
    margin: 0 60px 65px 15px;
  }

  .description-wrap {
    flex-basis: 40%;
  }

  .order_aside-right,
  .order_aside-left {
    margin: 0 0 50px 280px;
  }
}

@media screen and (max-width: 800px) {
  .preview__info {
    justify-content: space-around;
    max-width: 798px;
    margin: auto;
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    margin-bottom: 82px;
  }

  .header__logo {
    margin-top: 24px;
  }

  .side-menu {
    margin-right: 12px;
  }

  .side-menu__item {
    display: none;
  }

  .menu-action {
    margin-top: 24px;
  }

  .burger {
    width: 35px;
    height: 22px;
  }

  .preview__info {
    flex-direction: column;
    margin: 0;
    height: 130px;
  }

  .preview__bg {
    background: url(../img/Tesla-Wordmark-Red.svg) center 40%/109% auto
        no-repeat,
      url(../img/tesla-bg.png) center 111%/91% auto no-repeat;
    min-height: 510px;
    margin-bottom: 90px;
  }

  .preview__subtitle {
    bottom: 11px;
  }

  .preview__description {
    max-width: 520px;
    margin-bottom: 58px;
  }

  .description {
    max-width: 240px;
    height: 80px;
  }

  .description:nth-child(1) svg {
    width: 66px;
    height: 49px;
  }

  .description:nth-child(2) {
    margin-right: 16px;
  }

  .description:nth-child(2) svg {
    width: 38px;
    height: 61px;
  }

  .specification__value {
    font-size: 50px;
    margin-left: 20px;
  }

  .specification__title {
    text-align: start;
    padding: 0 20px;
  }

  .description-wrap {
    margin: 50px 0 0 0;
  }

  .specification__screen-value,
  .specification__bag-value {
    font-size: 35px;
  }

  .order {
    max-width: 450px;
  }

  .order__info svg {
    width: 30px;
    height: 30px;
    margin-right: 18px;
  }

  .order__title {
    font-size: 16px;
  }

  .order__btn {
    width: 220px;
    height: 55px;
    font-size: 16px;
  }

  .info,
  .security {
    height: 1015px;
  }

  .description-info {
    max-width: 280px;
  }

  .specification__title {
    padding: 0;
  }

  .order_aside-right,
  .order_aside-left {
    margin: 0 0 50px 125px;
    min-width: 530px;
  }

  .order__info_white {
    min-width: 202px;
  }

  .preview__arrow {
    margin-top: 92px;
  }
}

@media screen and (max-width: 732px) {
  .header__logo {
    margin-left: 5px;
  }

  .side-menu {
    margin-right: 20px;
  }

  .preview__bg {
    background: url(../img/Tesla-Wordmark-Red.svg) center 26%/98% auto no-repeat,
      url(../img/tesla-bg.png) center 129%/84% auto no-repeat;
    min-height: 380px;
  }

  .preview__title {
    font-size: 50px;
  }

  .preview__subtitle {
    bottom: 2px;
    font-size: 10px;
  }

  .preview__description {
    justify-content: space-around;
  }

  .specification__value {
    font-size: 27px;
  }

  .specification__unit {
    font-size: 15px;
  }

  .specification__title {
    font-size: 10px;
    padding-right: 0px;
    padding-left: 20px;
  }

  .order {
    justify-content: space-around;
  }

  .info {
    flex-direction: column-reverse;
    height: 760px;
  }

  .security {
    height: 760px;
  }

  .content {
    flex-direction: column;
  }

  .content__text {
    width: 100%;
  }

  .info__title,
  .order_aside-right,
  .order_aside-left,
  .security-rating,
  .description-wrap {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .preview__bg {
    background: url(../img/Tesla-Wordmark-Red.svg) center 57%/98% auto no-repeat,
      url(../img/tesla-bg.png) center 111%/84% auto no-repeat;
    min-height: 260px;
  }

  .order__title {
    font-size: 13px;
  }

  .order__btn {
    width: 160px;
    height: 40px;
    font-size: 13px;
  }

  .description:nth-child(1) svg {
    width: 38px;
    height: 28px;
  }

  .description:nth-child(2) svg {
    width: 22px;
    height: 35px;
  }

  .info,
  .security {
    height: 630px;
  }
}
